<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' /> {{!--1.)main hbs providing layout to the whole web pages.--}}
  </head>
  <body>
    <header>
      <h1>Manjot/n01425360</h1>
    </header>
 
      {{{body}}} {{!--show thw whole files body in this--}}
      
      <br><br>
    <footer>
      <h1>manjotthind1001@gmail.com</h1>
    </footer>
  </body>
</html>

